
<tr>

    <th scope="row">{{number}}</th>
    
    <td>{{first}}</td>
    <td>{{last}}</td>
    <td>{{city}}</td>
    <td>{{school}}</td>
    <td>{{major}}</td>
    <td>{{email}}</td>
    <td>{{phone}}</td>
    <td>{{bday}}</td>
    <td>{{gender}}</td>
    <td>{{ethnicity}}</td>

</tr>